h1,
h3 {
    color: orange;
    text-align: center;
}

a {
    color: white;
}

p {
    color: white;
    text-align: justify;
    margin-top: 0;
}

.body {
    padding: 50px;
}

img.body {
    justify-self: center;
    display: flexbox;
    display: block;
    margin: 0 auto;
    height: auto;
}

hr {
    width: 70%;
    margin: 0 auto;
    height: 2px;
    border: none;
    background: orange;
    opacity: 1;
    padding-left: 10px;
}