.main {
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.main img {
    width: 100%;
    height: auto;
}
.main p {
    margin: 2%;
    text-align: center;
}

h1,
h3 {
    color: orange;
    text-align: center;
}

a {
    color: black;
}