.formtable{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 75vw;
    height: 75vh;
    border-radius: 25px;
    background-color: black;
    opacity: 60%;
}
.formtable th {
    margin: 0;
    padding: 0;
    width: 50%;
}
.contactUsText{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Great Vibes;
    font-size: 48px;
    text-align: center;
}
.textstyles{
    color: white;
}
.inputareas{
    width: 100%;
    border: 0;
    color: white;
    background: transparent;
    border-bottom: 2px solid grey;
}
.inputareas:hover{
    border-bottom: 2px solid orange;
}
.sendbutton{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: orange;

}