/* nav { */
    /* background-color: #333; */
    /* overflow: hidden; */
/* } */
.title-bar {
    color: gray;
    margin-left: 10px;
    font-style: normal;  
}
.heading {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
.picture {
    width: 400px;
    height: 400px;
}
.swd table{
    margin-left: 40px;
}
.swd p,h3{
    font-weight: bold;
    margin-left: 40px;
}
activity-key-head {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    color: black;  
}
.activity-key-description {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color:gray;
    margin-left: 48px;
    margin: bottom 24px;   
 }
 .page-margin {
    margin-left: 40px;
 }
 .booking{
    margin-left: 400px;
    width: 120px;
    height: 50px;
 }